**/.ipynb_checkpoints
**/__pycache__
*.png
*.mp4
*.npy
*.npz
*.dae
data/*
logs/*
data
output_frames_test
output_frames_target
output_frames
drum_test_no_depth
depth_img.png
disparityL.png
disparityR.png
input_img.png
input_video_original.mp4
input_video_short.mp4
input_video.mp4
output_video.mp4
aloeL.jpg
aloeR.jpg
